{% extends "base.html" %}



{% block content%}
<style>





</style>
{% endblock %}



{% block content1 %}




    
<div class="flex-container2">
 
  <div style="color:red;" >
      <p><img src="{{ url_for('static', filename='images/shfinal.png') }}" class="image" width="152" height="118" />Cor</p>
	  
	  
  </div>
  
  
  <div class="col text-black" style="font-size: 18px;">
    <br>
	
	<blockquote class="blockquote">
	<p>The Cor Meeting is a faith-based initiative of the Supreme Council
	to form and strengthen Knights and the Catholic men of the parish in faith and virtue. </p>
	<p>Each Cor Meeting does this by strengthening relationships with Jesus Christ and one another,
	through the three Key Elements of Prayer, Formation, and Fraternity.</p>
	<p>The word ‘cor’ is Latin for heart and the root of the word courage.</P>
	Prayer, Formation, and Fraternity all begin with the heart and direct the heart in relationship to God and each other in true charity.</p>
	</blockquote>
  </div>
</div> 

<div class="flex-container2">
 
  <div style="color: red;" >
      <p><img src="{{ url_for('static', filename='images/prhands.jpg') }}" class="image" width="152" height="118" />Prayer</p>
  </div>
  
  
  <div class="col text-black" style="font-size: 10px;">
    <br>
	
    <blockquote class="blockquote">
	<p> Prayer is the “lifting of our minds and hearts to God.” Through prayer we strengthen our relationship with God as disciples (followers) of Jesus Christ and grow in our knowledge of Him. Shared time in prayer will help men focus their minds and hearts on God, strengthen the bonds of brotherhood, and keep God at the center of all they are and do. (Examples: Rosary, Lectio Divina, Holy Hour, Chaplet of Divine Mercy)
	</blockquote>
  </div>
  
  
</div>
  
<div class="flex-container2">
 
  <div style="color: red;" >
      <p><img src="{{ url_for('static', filename='images/catechism.jpg') }}" class="image" width="152" height="118" />Formation</p>
  </div>
  
  
  <div class="col text-black" style="font-size: 18px;">
    
    <blockquote class="blockquote">
	<p>     <p>The aim of Catholic formation is to be like Christ, taking on his character and virtue, life of prayer, and his mission. The Cor Meeting brings men together to sharpen each other in friendship and fraternity. This formation should include time hearing, studying, and applying the truths of the Catholic faith to daily life. (Examples: Faith inspired talks by clergy or others, reading a spiritual reflection, Into the Breach Video Series, Supreme Chaplain’s Monthly Challenge, Bible Study, small group discussion)</p>
	</blockquote>
  </div>
  
  
</div>  

<div class="flex-container2">
 
  <div style="color: red;" >
      <p><img src="{{url_for('static', filename='images/fraternity1.jpg') }}" class="image" width="152" height="118"/>Fraternity</p>
  </div>
  
  
  <div class="col text-black" style="font-size: 18px;">
    
    <blockquote class="blockquote">
	 <p> The Cor Meeting brings men together as a band of brothers to strengthen each other in friendship and fraternity. The aim of fraternal time should be to create an enjoyable environment that strengthens true friendships. (Examples: Social events, BBQ, bonfire, intentional conversation, and shared meals i.e. do-nuts and coffee or pizza and beverages.)</p>
	</blockquote>
  </div>
  
  
</div> 

    
{% endblock %}