{% extends "base.html" %}



{% block content%}
<style>





</style>
{% endblock %}



{% block content1 %}
<div class="flex-container1">
	<div class="sched-container1">
		<div>
			<h1>Here's our schedule:</h1>
			
		</div>	
			
		
	
			
	</div>
	
	
	
	
	<div class="sched-container1">
		<div><a  href="{{url_for('const') }}">Jan</a></div>
		<div><a  href="{{url_for('const') }}">Feb</a></div>
		<div><a  href="{{url_for('const') }}">Mar</a></div>
		<div><a  href="{{url_for('const') }}">Apr</a></div>
		<div><a  href="{{url_for('const') }}">May</a></div>
		<div><a  href="{{url_for('const') }}">Jun</a></div>
		<div><a  href="{{url_for('const') }}">Jul</a></div>
		<div><a  href="{{url_for('const') }}">Aug</a></div>
		<div><a  href="{{url_for('sept') }}">Sept</a></div>
		<div><a  href="{{url_for('oct') }}">Oct</a></div>
		<div><a  href="{{url_for('nov') }}">Nov</a></div>
		<div><a  href="{{url_for('dec') }}">Dec</a></div>
	</div>
	
	
</div>

  
	   

    
{% endblock %}