{% extends "base.html" %}



{% block content%}

{% endblock %}



{% block content1 %}

<div class="flex-container1">
	<div class="gallery">

		<div>
			<h1>Gallery</h1>
		</div>
	</div>

	<div class="gallery">
		<div><a  href="{{url_for('gjan') }}">Jan</a></div>
		<!--<div><a  href="{{url_for('const') }}">Feb</a></div>
		<div><a  href="{{url_for('const') }}">Mar</a></div>-->
		<div><a  href="{{url_for('gapr') }}">Apr</a></div>
		<div><a  href="{{url_for('gmay') }}">May</a></div>
		<div><a  href="{{url_for('gjun') }}">Jun</a></div>
		<!--<div><a  href="{{url_for('const') }}">Jul</a></div>-->
		<div><a  href="{{url_for('gaug') }}">Aug</a></div>
		<div><a  href="{{url_for('gsep') }}">Sept</a></div>
		<!--<div><a  href="{{url_for('const') }}">Oct</a></div>
		<div><a  href="{{url_for('const') }}">Nov</a></div>
		<div><a  href="{{url_for('const') }}">Dec</a></div>-->
		
	
	</div>
		

	
	
	
</div>
  
	   

    
{% endblock %}