{% extends "base.html" %}



{% block content%}

{% endblock %}



{% block content1 %}


<div class="gallery">

	<h1>January Gallery</h1>
	
	<p><img src="{{ url_for('static', filename='images/gjan/0111241Meeting.jpg') }}"   />Josh Ezzell and Ken Dougherty (01/11/2024)</p>
		
	<p><img src="{{ url_for('static', filename='images/gjan/0111242Meeting.jpg') }}"   />The Crew at the January Meeting (01/11/2024)</p>
	
	<div>
		<p>Open the photo in a new tab to enlarge.</p>
	</div>	

	
	
	
</div>
  
	   

    
{% endblock %}