{% extends "base.html" %}



{% block content%}

{% endblock %}



{% block content1 %}


<div class="gallery">

	<h1>June Gallery</h1>
	
	
		<p><img src="{{ url_for('static', filename='images/gjun/0622241NearestDistillery.jpg') }}"/>Josh Ezzell with Jerome Bettis</p>
		<p><img src="{{ url_for('static', filename='images/gjun/0622242NearestDistillery.jpg') }}"   />John Frazier with his hero Jerome Bettis(6/22/24)</p>
		<p><img src="{{ url_for('static', filename='images/gjun/0622243NearestDistillery.jpg') }}"   />Another visit to the Nearest Distillery(6/22/24)</p>
		
	<div>	
		<p>Open the photo in a new tab to enlarge.</p>
	</div>	

	
	
	
</div>
  
	   

    
{% endblock %}