{% extends "base.html" %}
{% block content %}

{% endblock  %}

{% block content1 %}

<div class="flex-container1">
	

	
	
	
	

		<p><img src="{{ url_for('static', filename='images/nov.svg') }}" /></p>
		<p>We will also have a breakfast followed by a discussion of conscience, morals, and virtures as deliniated 
			in the Catechism of the Catholic Church.
			<mark style="color:Tomato;"> Date:Nov 2, 2024</mark>
			<mark style="color:Tomato;"> Time: 9 am to Noon or earlier</mark>
			<mark style="color:Tomato;"> Place: St Luke hall</mark>
		</p>
	
	
		
	
		

	
	
	
</div>

{% endblock %}
